/* General styles for the Explore Page */
.explore-page {
  padding: 20px;
}

/* Styles for the header section */
.explore-header {
  width: 80%;
  margin: 2% 10% 2% 10%;
  margin-bottom: 20px;
}

.explore-header h1 {
  font-size: 2rem;
  color: #6F96D1;
}

.explore-header p {
  font-size: 1.2rem;
  color: #333;
}

/* Styles for the dormitory list and cards */
.dorm-list {
  display: flex;
  flex-direction: column; /* Make each dorm card appear on a new line */
  gap: 10px;
  align-items: center; /* Center the cards horizontally */
}

.explore-dorm-card {
  width: 80%; /* Adjust width as needed */
  max-width: 80%; /* Optional: Set a maximum width to prevent stretching */
  height: 20%; /* Increased height for taller cards */
  border: solid 3px #6F96D1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 0; /* Removed padding */
}

/* Dorm Photo */
.dorm-photo {
  width: 25%; /* Increased width to make the photo larger */
  height: 100%; /* Ensure it fills the card height */
  margin: 0 20px 0 0; /* Adjust margin to align the photo properly */
  padding: 0; /* Remove padding */
  overflow: hidden; /* Ensure the image doesn't spill outside */
}

.dorm-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the image fits within the container without overflowing or cropping */
  object-position: center; /* Keep the image centered if there is extra space */
}

/* Dorm Info */
.dorm-info {
  flex: 1; /* Allow dorm name to take up remaining space */
  display: flex;
  flex-direction: column; /* Stack name, address, and price vertically */
  justify-content: center; /* Center content vertically */
  padding: 0 10px;
}

.dorm-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.dorm-address, .dorm-price {
  font-size: 1rem;
  color: #666;
  margin-top: 5px;
}

/* View Button */
.view-button {
  background-color: #6F96D1;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 25px 0 0;
}

.view-button:hover {
  background-color: #557ca5; /* Darker shade on hover */
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.filter-buttons button {
  background-color: #6F96D1;
  color: white;
  border: 2px solid #6F96D1;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.filter-buttons button.active {
  background-color: #557ca5; /* Darker shade when active */
  border-color: #557ca5;
}

.filter-buttons button:hover {
  background-color: #557ca5;
  border-color: #557ca5;
  transform: scale(1.05);
}

.filter-buttons button:focus {
  outline: none;
}
