*{
  box-sizing: border-box;
}
.body1{
  display: block;
  background-color: #FFFFFF;
  height: 1300px;
  max-width: 1200px;
  margin: auto;
}
.header1{
  text-align: center;
  background-color: rgb(0, 208, 255);
  margin-top: -22px;
  height: 75px;
}
.dorm-selection1{
  display: flexbox;
  text-align: left;
  background-color: FFFFFF;
  margin: -10px 70px;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.dorm-pic1{
  display: flexbox;
  text-align: center;
  margin: -30px 70px;
  margin-bottom: 20px;
  height: 200px;
  background-color: rgb(17, 50, 79);
  border-radius: 10px;
}
#dorm-banner1{
  display: flexbox;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.h3, h3 {
  font-size: calc(1.3rem + .6vw);
  text-align: left;
  font-weight: 300;
}
.container11{
  display: flexbox;
  text-align: left;
  background-color: #FFFFFF;
  margin: -10px 70px;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 10px;
  
}

#dormName1{
  text-align: left;
  font-weight: bold;
}
.c1-column11{
  
  background-color:  #FFFFFF;
  float: left;
  width: 65%;
  padding: 0 5px;
  height: 250px;
  border-radius: 10px;
  
}
.c1-column21{
  
  background-color:  #FFFFFF;
  float: left;
  width: 35%;
  height: 250px;
  border-radius: 10px;
}
.amenities-container1{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.amenity-card1{
  background-color: #f9f9f9;
  border: 2px solid #B6B6B6;
  width: 100px;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: #505050;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center; 
  align-items: center; 
}
#dorm-picture1{
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
.c1-row1{
  text-align: left;
}
.c1-row1::after{
  content: "";
  display: table;
  clear: both;
}
.c1-card1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 125px;
  text-align: center;
  background-color: #f1f1f1;
}
.container21{
  display: flexbox;
  text-align: center;
  background-color:  #FFFFFF;
  margin: -5px 70px;
  height: 405px;
  margin-bottom: 20px;
  border-radius: 5px;
  
}
.c2-column11{
  margin-top: 3px;
  background-color:  #FFFFFF;
  float: left;
  width: 45%;
  padding: 0 5px;
  height: 405px;
  border-radius: 5px;
}
.carouselPic1{
  width: 100%;
  height: 400px;
  border-radius: 5px;
}
.c2-column21{
  background-color:  #FFFFFF;
  float: left;
  width: 55%;
  padding: 0 5px;
  height: 405px;
  border-radius: 5px;
  
}
.c2-card1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 150px;
  text-align: center;
  background-color: #f1f1f1;
}


.room-info1{
  padding: 10px;
}
.amenity-card1 input[type="checkbox"],
.amenities-list1 input[type="checkbox"] {
  width: 20px;
  height: 40px;
  transform: scale(1.5); 
  margin-right: 10px;
  cursor:default;
}
.amenity-card1,
.amenities-list1 li {
  display: flex;
  align-items: center;
}
.amenities-container1,
.amenities-list1 {
  gap: 10px;
}

.button-div{
  margin-top: 25px;
}

#c2-button1 {
  border-radius: 10px;
  width: 500px;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #5781C2;
  color: #fff;
  border: none;
  cursor: pointer;
}
#c2-button1:hover {
  background-color: #1A5276;
  border-radius: 10px;
}
.container31{
  display: flexbox;
  text-align: center;
  background-color:  #FFFFFF;
  margin: -10px 70px;
  height: 270px;
  margin-bottom: 20px;
  border-radius: 5px;  
}
.c3-column11{
  margin-top: -5px;
  background-color:  #FFFFFF;
  float: left;
  width: 60%;
  padding: 10px;
  height: 270px;
  border-radius: 5px;
  
}

.appliance-box{
  background-color: #FFFFFF;
  margin-left: 20px;
}


.appliance-name{
  font-size: larger;
  text-align: left;
}

.appliance-fee {
  text-align: right; 
  margin-left: 50px; 
  background-color: #FFFFFF; 
  font-size: larger;
  width: 100px;
}

.c3-column21{
  margin-top: -5px;
  border-color: black;
  text-align: center;
  background-color:  #FFFFFF;
  float: left;
  width: 40%;
  padding: 10px;
  height: 270px;
  border: 1px  solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  color: #505050;
}

.c3-column21 h3 {
  text-align: center;
}
.container41{
  border-radius: 5px;
  margin-top: 10px;
  display: flexbox;
  text-align: center;
  background-color:  #FFFFFF;
  margin: 70px;
  height: 200px;
}
.footer1{
  margin-top: 20px;
  display: block;
  background-color: #FFFFFF;
  height: 50px;
}

