
.container {
    max-width: 650px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}


.container h1 {
    text-align: left;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1F2B6C;
}


.container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.container input, .container select, .container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-row > input {
    flex: 1;
}

button {
    background-color: #2980B9;
    color: white;
    padding: 12px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0d1f5c;
}


.upload-section {
    text-align: left;
    margin-bottom: 20px;
}

.upload-box {
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding-top: 10px;
    text-align: left;
    margin-bottom: 20px;
    height: 75px;
}

input[type="file"] {
    font-size: 0.9rem;
    border: none;
    padding: 10px;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #2980B9;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #0d1f5c;
}

.labels {
    text-align: left;
    color: gray;
}

/* For Dorm Manager */
.create-dorm-button {
    background-color: #007bff;
    max-width: 35%;           /* Limits the width to 50% */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    display: block;           /* Ensures the element behaves as a block */
    width: 100%;              /* Makes the button take full width of its container */
    margin-top: 1rem;
    margin-left: auto;        /* Centers horizontally */
    margin-right: auto;       /* Centers horizontally */
}

  .create-dorm-button:hover {
    background-color: #0056b3;
  }  

/* Sections with File Uploads */
.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .upload-section h4 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #555;
  }
  
  .upload-section input {
    width: 80%; /* Adjust width to center the input */
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff;
  }

  
/* Pricing */
.price-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem; /* Adjusts the padding between Min and Max inputs */
  }
  
  .price-input {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .price-input span {
    margin-right: 0.5rem;
  }
  
  .price-input input {
    flex: 1;
  }

  /* Dormer */
  select {
    font-size: 16px;
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  option {
    color: #333;
    background-color: #fff;
  }
  

  